# resource.config for ckanext-discovery's search_suggestions plugin

[groups]

search_suggestions =
    search_suggestions.js
    search_suggestions.css


[depends]

# See https://github.com/ckan/ckan/issues/3398
search_suggestions =
    vendor/jquery-ui-autocomplete/jquery-ui.css
    vendor/jquery-ui-autocomplete/jquery-ui.structure.css
    vendor/jquery-ui-autocomplete/jquery-ui.theme.css
    vendor/jquery-ui-autocomplete/jquery-ui.js
    vendor/jquery.ui.autocomplete.html.js

